<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> 마이티 채무 </title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>

            .container {
                padding: 1em;
            }

            .invalid {
                text-decoration: line-through;
                color: red;
            }

            .is-credit>td.amount {
                color: green;
            }

            .is-debt>td.amount {
                color: red;
            }

        </style>

        <section class="hero is-primary">

            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        마이티 채무 시스템
                    </h1>
                    <h2 class="subtitle">
                        v0.1.0
                    </h2>
                </div>
            </div>

        </section>


        <div id="app" class="container">
            <div class="tabs is-toggle is-fullwidth">
              <ul>
                <li :class="{ 'is-active': isList }">
                  <a @click="view = 'list'">
                    <span class="icon is-small"><i class="fa fa-list"></i></span>
                    <span> 채무 </span>
                  </a>
                </li>
                <li :class="{ 'is-active': isWon }">
                  <a @click="view = 'won'">
                    <span class="icon is-small"><i class="fa fa-won"></i></span>
                    <span> 새 거래 </span>
                  </a>
                </li>
              </ul>
            </div>

            <component v-bind:is="view"></component>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script type="text/x-template" id="list">
            <div>
                <div class="field has-addons has-addons-centered">
                    <p class="control">
                        <span class="select">
                            <select v-model="name">
                                <option v-for="person in people"> {{ person }} </option>
                            </select>
                        </span>
                    </p>
                    <p class="control">
                        <a class="button is-primary">
                            의 채무
                        </a>
                    </p>

                </div>

                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th> 사람 </th>
                            <th> 금액 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="ts in trans"
                            v-if="name === '모두' || ts.creditor === name"
                            :class="{
                                'invalid': !ts.valid,
                                'is-credit': ts.amount > 0,
                                'is-debt': ts.amount < 0}">
                            <td> {{ ts.creditor }} </td>
                            <td class="amount"> {{ ts.amount }} </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </script>

        <script type="text/x-template" id="won">
            <div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"> 채권자 </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input v-model.trim="creditor" class="input" type="text" placeholder="채권자 이름">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"> 채무자 </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input v-model.trim="debtor" class="input" type="text" placeholder="채무자 이름">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"> 돈 </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input v-model.number="amount" class="input" type="number" placeholder="빌려준 돈의 양" step="1000">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-money"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"> 설명 </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input v-model.trim="description" class="input" type="text" placeholder="거래에 대한 설명">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-info"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <button class="button is-primary" @click="insert()">
                                    거래 입력
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </script>

        <script>

        Vue.component('list', {
            template: '#list',
            data: function() {
                return {
                    trans: [],
                    name: '김유진', // ::ISSUE:: Where to get default value
                    people: [
                        '모두',
                        '김유진',
                        '위재원',
                        '이정재',
                        '강명진'
                    ]
                }
            },
            beforeMount: function() {
                let l = this
                axios.get('http://ftp.wijae.com:3000/api/trans')
                    .then(function (response) {
                        l.trans = response.data
                        console.log('updated')
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert('인터넷 연결 상태가 좋지 않거나, 데이터베이스에 문제가 생겼습니다. 개발자에게 문의해주세요')
                    });
            }
        })

        Vue.component('won', {
            template: '#won',
            data: function() {
                return {
                    creditor: '',
                    debtor: '',
                    amount: '',
                    description: ''
                }
            },
            methods: {
                insert: function() {
                    let data = {
                        creditor: this.creditor,
                        debtor: this.debtor,
                        amount: this.amount,
                        description: this.description
                    }
                    let url = `http://ftp.wijae.com:3000/api/trans?creditor=${this.creditor}&debtor=${this.debtor}&amount=${this.amount}&description=${this.description}`
                    console.log(url)
                    axios.post(url, data)
                        .then(function (response) {

                        })
                        .catch(function (error) {
                            console.log(error);
                            alert('인터넷 연결 상태가 좋지 않거나, 데이터베이스에 문제가 생겼습니다. 개발자에게 문의해주세요')
                        });
                }
            }
        })

        var app = new Vue({
          el: '#app',
          data: {
            view: 'won',
          },
          computed: {
              isList: function() {
                  return this.view == 'list'
              },
              isWon: function() {
                  return this.view == 'won'
              }
          }
        })
        </script>
    </body>
</html>
